@charset "UTF-8";
/* head */
.MOO {
    border-radius: 2rem;
}
.heading-site {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    background-color: #b3694638;
}
/* fin head */

/* header */
.header {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 50px;
    line-height: 70px;
    top: 0;
    background-color:  rgba(153, 69, 0, 0.185);
    position: fixed;
    z-index: 999;
}

.header .titre {
    color:#FFFFFF;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    letter-spacing: 1px;
    float: left;
}

.header .header_menu {
    float: right;
    margin-right: 15px;
    margin-left: auto;
}

.header .header_menu a {
    color: #FFFFFF;
    margin-right: 10px;
}

.header .header_menu a:hover {
    color: #b36846d8;
}
/* fin header */

/* bannière */ 
.ban {
    margin-top: 4px;
}

.ban .ban_img {
    position: relative;
}

.ban .title {
    text-shadow: 2px 2px 3px  #b36846d8, 0 0 1em  #000000, 0 0 0.2em  #b36846d8;
}

.ban .ban_txt {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55px;
}

.ban .ban_txt h1{
    color: #cecccc;
}

.ban .button {
    background-color: #b36846d8;
}

.ban .button:hover {
    background-color: #000000;
}
/* fin bannière */ 

/* À propos */
.title {
  margin-left: 2%;;
}

.about .heading-site {
    margin-left: 0%;
    text-align: left;
    margin-top: 10%;
}

.about .sutitre {
  font-size: larger;
  font-style: oblique;
  font-weight: 500;
}

.about .titre {
    font-size: medium;
}

.about .stitre {
    font-size: small;
}

.about .textjust {
  text-align: justify;
} 
.about .dipar {
    margin-bottom: 15%;
}

.about .cent {
  text-align: center;
} 

.about .grr {
  font-weight: 500;

} 

.about .grt {
  font-weight: 450;
  text-decoration: underline;
} 

.about .heading {
    margin-top: 2%;
    margin-bottom: 2%;
}

.about .about-single-element i {
    font-size: 30px;
    text-align: center;
}

.about .about-single-element {
    margin-top: 0%;
    text-align: left;
}

.about .about-single-element p {
    text-align: center;
    margin-top: 15px;
}
/* fin À propos */

/* portfolio */
.portfolio {
    margin-top: 0%;
    text-align: left;
}
/* fin portfolio */

/* Footer */
.footer .cont {
    margin-top: 5%;
}

.footer .footer-contact-form {
    margin-left: 15%;
    margin-right: 15%;
}

.footer input {
    margin-bottom: 10px;
}

.footer input [type=text] {
    height: 50px;
    width: 500px;
}

.footer textarea {
    width: 500px;
    height: 200px;
    resize: vertical;
}

.footer .button {
    color: #FFFFFF;
    background-color: #b36846d8;
    margin-top: 1%;
}

.footer .button:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.footer .footer-informations {
    text-align: center;
    margin-top: 5%;
}

.footer .footer-informations .fas {
    color: #b36846d8;
}

.footer .footer-informations .fas:hover {
    color: #000000;
}

.footer .footer-informations .fab {
    color: #b36846d8;
}

.footer .footer-informations .fab:hover {
    color: #000000;
}

.footer .footer-informations ul {
    padding: 0;
    align-content: center;
}

.footer .footer-informations ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1%;
    margin-left: 10px;
}

.footer .footer-copyright {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0%;
}

/* fin Footer */

/* Modal */
.own-modal {
    padding-top: 4%;
}

.modal .button {
    background-color:  #b36846d8;
}

.modal .button:hover {
    background-color:  #000000;
}
/* fin Modal */
.lik {
  text-align: center;
}
/* Responsive */

@media screen and (max-width: 1080px) {
    #navi {
        display:none;
    }
}

/*@media screen and (max-width:1000px) {
  #bnvp {
    top: 5%;
  }
}*/
/* fin Responsive */
